In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
#머신러닝 분석에 유용한 라이브러리
from sklearn.linear_model import LogisticRegression
#LogisticRegression: 시그모이드 함수
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('insurance_data.csv')
df.head()

   age  bought_insurance
0   22                 0
1   25                 0
2   47                 1
3   52                 0
4   46                 1

In [3]:
X = df[['age']]
y = df[['bought_insurance']]

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [16]:
model = LogisticRegression()

In [17]:
model.fit(X_train, y_train)

C:\Users\mwh51\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

In [18]:
model.predict(X_test)

array([1, 0, 1, 0, 0, 0, 0, 1, 0], dtype=int64)

In [19]:
y_test

    bought_insurance
8                  1
13                 0
9                  1
21                 0
0                  0
11                 0
16                 1
17                 1
12                 0

In [20]:
model.score(X_test, y_test)

0.8888888888888888