In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [30]:
df = pd.read_csv('carprices.csv')
df

    Mileage  Age(yrs)  Sell Price($)
0     69000         6          18000
1     35000         3          34000
2     57000         5          26100
3     22500         2          40000
4     46000         4          31500
5     59000         5          26750
6     52000         5          32000
7     72000         6          19300
8     91000         8          12000
9     67000         6          22000
10    83000         7          18700
11    79000         7          19500
12    59000         5          26000
13    58780         4          27500
14    82450         7          19400
15    25400         3          35000
16    28000         2          35500
17    69000         5          19700
18    87600         8          12800
19    52000         5          28200

In [31]:
X = df[['Mileage', 'Age(yrs)']]
y = df[['Sell Price($)']]

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [36]:
model = LinearRegression()

In [37]:
model

LinearRegression()

In [38]:
model.fit(X_train, y_train)

LinearRegression()

In [39]:
model.predict([[87600, 8]])

array([[14104.7088382]])

In [40]:
model.predict(X_train)

array([[20716.48187054],
       [12894.58915199],
       [35474.62016389],
       [21784.23453484],
       [14104.7088382 ],
       [28364.56255488],
       [40453.31918747],
       [28364.56255488],
       [26481.17112253],
       [22496.06964438],
       [17695.32939819],
       [31029.79747247],
       [25873.1396715 ],
       [16467.41383424]])

In [41]:
model.score(X_train, y_train)

0.9456671452159503

In [42]:
model.score(X_test, y_test)

0.8540194416845385