In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [10]:
df = pd.read_csv('homeprices2.csv')
# data frame
# csv파일을 읽어온다.
df

   area  bedrooms  age   price
0  2600         3   20  550000
1  3000         4   15  565000
2  3200         3   18  610000
3  3600         3   30  680000
4  4000         5    8  725000

In [11]:
df[['area', 'bedrooms', 'age']]

   area  bedrooms  age
0  2600         3   20
1  3000         4   15
2  3200         3   18
3  3600         3   30
4  4000         5    8

In [17]:
reg = LinearRegression()
# regression

reg.fit(df[['area', 'bedrooms', 'age']], df.price)
# area, bedrooms, age에 대한 price데이터를 학습시켜준다.
# x = area, bedrooms, age/ y = price

LinearRegression()

In [13]:
reg.coef_
#기울기, y = m*x + b

array([  143.625, -6762.5  ,   337.5  ])

In [14]:
reg.intercept_
#y절편

173112.50000000012

In [15]:
reg.predict([[3000, 3, 40]])
# area=3000, bedrooms=3, age=40 일때 price값을 예측

array([597200.])